browser-cookie3
bs4
cryptography
cmake
dlib
facebook-wda
flake8
Flask
Flask-Caching
Flask-Cors
Flask-Migrate
Flask-RESTful
Flask-Script
Flask-SQLAlchemy
grip
gunicorn
h5py
ipython
jieba
jupyter
Jinja2
keras
Mako
MarkupSafe
matplotlib
mccabe
myqr
mysql-connector
numpy
nose
pep8-naming
pandas
pillow
pycodestyle
pycryptodome
pyflakes
pygraphviz
pymongo
pympler
PyMySQL
pytesseract
python-dateutil
python-editor
pytest
pytest-cov
pytz
redis
requests
responses
seaborn
simplejson
six
scikit-learn
scipy
scrapy
scrapy-redis   
scrapy-splash
sympy
snownlp
SQLAlchemy
tensorflow
textblob
Werkzeug
zhconv
