bs4
cryptography
dlib
facebook-wda
flake8
Flask
Flask-Caching
Flask-Cors
Flask-Migrate
Flask-RESTful
Flask-Script
Flask-SQLAlchemy
grip
h5py
ipython
jupyter
Jinja2
keras
Mako
MarkupSafe
matplotlib
mccabe
myqr
numpy
nose
pep8-naming
pandas
pillow
pycodestyle
pycryptodome
pyflakes
pygraphviz
PyMySQL
python-dateutil
python-editor
pytest
pytest-cov
pytz
redis
requests
responses
seaborn
simplejson
six
scikit-learn
scipy
sympy
tensorflow
SQLAlchemy
Werkzeug
zhconv
