{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'TasksManager/style.css' %}" />

<html>
     <head>
       <title>
         Hello World Title
       </title>
     </head>
<body> 
        <h1>
         Hello World Django
       </h1>
       <h3> {{ action }} </h3>

    {% if all_projects|length > 0 %}
             <table>
        <thead> <tr>
        <td>ID</td>
               <td>Title</td>
             </tr>
           </thead>
           <tbody>
           {% for project in all_projects %}
             <tr>
               <td>{{ project.id }}</td>
               <td>{{ project.title }}</td>
             </tr>
           {% endfor %}
           </tbody>
         </table>
    {% else %}
         <span>No project.</span>
    {% endif %}

    <hr class="myhr"/>

       <span> {{my_var | lower }} </span> <br/>
       <span> {{my_var | upper }} </span> <br/>
       <span> {{my_var | capfirst }} </span> <br/>

       <span> I received {{ years }} year{{ years|pluralize }}. </span>
       <span><font color="blue">Test Filter:</font> I received {{ years_test }} year{{ years_test|pluralize }}. </span>
    <hr/>
       <span>{{my_variable1 | linebreaks }}</span>
      <span>{{my_variable1 | truncatechars:13 }}</span>
       <span> {{my_variable1  }} </span> 
    <hr/>
       <span>
           {% if years < 10 %}
           You are children
           {% else %}
           You are an adult!
           {% endif %}
       </span>
       <ul>
       {% for city in array_cities %}
       <li>
       {{ city }}
       </li>
       {% endfor %}
       </ul>
       <article>
         Hello world !
       </article>
     </body>
</html>