{% extends "base.html" %}
{% load staticfiles %}

   {% block head %}
    
     test
   {% endblock %}
   {% block h1 %}
     ------test1
 <script src="{% static 'TasksManager/javascript/task.js' %}" ></script>
  
     
      
     <table> <tr>
     <th>Title</th>
     <th>Description</th>
     <th>Client name</th>
     <th>del </th>
   </tr>
      {% for object in object_list %}
     <tr>
       <td>{{ object.title }}</td>
       <td>{{ object.description }}</td>
       <td>{{ object.time_elapsed }}</td>
       <td>
       <button id='del{{ object.id }}' >
       Delete</button></td>
     </tr>
  {% endfor %}

   </table>
   
   {% endblock %}

